numpy==2.5.0
pandas==3.0.3
streamlit==1.58.0
mysql-connector-python==9.7.0
requests==2.34.2
jwt==1.4.0
pyjwt==2.13.0
streamlit-aggrid==1.2.1.post2
workalendar==17.0.0
openpyxl==3.1.5
streamlit-echarts==0.7.0
matplotlib==3.11.0
st-theme==1.2.3
